:root {
	--background: rgb(255, 208, 0);
	--text: #003082;
	--text-two: #ffffff;
	--btn: #0063d3;
	--transparent-blue: #0062d355;
}

* {
	margin: 0;
	box-sizing: border-box;
	color: var(--text);
}

body {
	font-family: sans-serif, arial;
	background-color: var(--background);
}

label {
	display: block;
}

fieldset {
	margin: 0 auto;
	background-color: var(--text-two);
}

input {
	padding: 10px;
	border: 1px solid var(--transparent-blue);
	border-radius: calc(5px / 2);
}

.next-btn {
	background-color: var(--btn);
	color: var(--text-two);
	&:hover {
		cursor: pointer;
	}
}

@media (min-width: 750px) {
	fieldset {
		width: calc(100% / 2);
	}
}