:root {
	--ns-yellow: rgb(255, 208, 0);
	--ns-blue: #003082;
	--white: #ffffff;
	--btn: #0063d3;
	--transparent-blue: #0062d355;
	--invalid: red;
	--valid:  rgb(47, 201, 0);
}

* {
	margin: 0;
	box-sizing: border-box;
	color: var(--ns-blue);
}

header {
	text-align: center;
	color: var(--white);
	background-color: var(--ns-blue);
}

h1 {
	text-align: center;
	margin: 15px 0;
}

body {
	font-family: sans-serif, arial;
	background-color: var(--ns-yellow);
}

input {
	margin: 15px 0;
}

input[type='radio']
{
	display: inline;
}

:user-invalid {
	border-bottom: 2px solid var(--invalid);
}

:user-valid {
	border-bottom: 2px solid var(--valid);
}

label {
	display: block;
}

label::after {
	content: "*";
	color: solid var(--invalid);
}


fieldset {
	margin: 0 auto;
	background-color: var(--white);
}

input {
	padding: 10px;
	border: 1px solid var(--transparent-blue);
	border-radius: calc(5px / 2);
}

.next-btn {
	background-color: var(--btn);
	color: var(--white);
	&:hover {
		cursor: pointer;
	}
}

@media (min-width: 750px) {
	fieldset {
		width: calc(100% / 2);
	}
}