@media print {
	body {
		color: var(--black);
	}

	section {
	  margin-bottom: 0;
	}

  img, ol, input[type='submit'] header,
  footer, nav {
	display: none;
  }

  input {
	border: 1px dotted var(--black);
  }

}