ol > li:nth-child(1)::before {
	content: "1";
	color: var(--white);
	background-color: var(--btn);
	outline: 3px solid var(--btn);
}

.hero {
	position: absolute;
	top: 125px;
	width: 95%;
	height: 250px;
    object-fit: cover;
}

section {
	margin-bottom: 250px;
}


@media (min-width: 1000px) {
	section {
		margin-bottom: 380px;
	}

	.hero {
		top: 110px;
		width: 60%;
		height: 350px;
	}
}