:root {
	--ns-yellow: #ffc917;
	--ns-blue: #102F7D;
	--grey-bg: #E6E6E8;
	--white: #ffffff;
	--black: #000000;
	--btn: #0063d3;
	--transparent-blue: #0062d330;
	--ns-border-form: #c4c5cb;
	--invalid: red;
	--valid:  rgb(47, 201, 0);
	--radio-color: #05A887;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	color: var(--ns-blue);
	line-height: 230%;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2px;
	background-color: var(--ns-blue);
}

p {
	margin: 5px 0;
}

header > p {
	color: var(--white);
}

h1 {
	text-align: center;
	margin: 15px 0;
	font-weight: 300;
	font-size: 2em;
}

h2, b {
	margin: 40px 0 15px 0;
}

body {
	background-color: var(--grey-bg);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif, arial;
}

nav ol li a {
	bottom: 40px;
	position: absolute;
	padding: 80px 0 0 0;
	color: var(--btn);
}


section {
	position: relative;
	background-color: var(--ns-yellow);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 150px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* form */
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--white);
	margin: 0 0 40px 0;
	padding: 0 20px;
	width: 100%;
}

label {
	display: block;
	margin: 15px 0;
}

legend {
	font-weight: 700;
	font-size: 1.7rem;
	padding: 30px 0 10px 0;
}

:user-invalid {
	border-bottom: 2px solid var(--invalid);
}


input:not([type="submit"]):user-valid {
	border-bottom: 2px solid var(--valid);
	background-image: url(../img/Green-check-mark.png);
	background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

fieldset {
	width: 100%;
	margin: 10px;
	border: none;
}

fieldset > fieldset > legend {
	font-weight: 200;
	font-size: 16px;
}

fieldset > fieldset {
	padding: 0;
	margin: 0;
}

/* input */
input {
	padding: 15px 20px;
	border: 1px solid var(--ns-border-form);
	border-radius: 6px;
}

input:focus {
	outline: none !important;
    border: 2px solid var(--btn);
}

input[type='submit'] {
	background-color: var(--btn);
	color: var(--white);
	font-size: 16px;
	&:hover {
		cursor: pointer;
	}
}

input[type='radio']
{
	display: inline;
	padding: 20px;
}

/*
Source - https://stackoverflow.com/a/4298216
Posted by antonj, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-08, License - CC BY-SA 4.0
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

footer {
	background-color: var(--white);
	color: var(--btn);
}

label:has(input[type='radio']) {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom radio button w3schools */
/* Hide the browser's default radio button */
label input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid gray;
}

label input[value='radio']:focus {
	outline: 2px solid red;
}

label:hover input ~ .checkmark {
  background-color: #ccc;
}

label input:checked ~ .checkmark {
  background-color: var(--white);
  border: 1px solid var(--radio-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label input:checked ~ .checkmark:after {
  display: block;
}

label .checkmark:after {
 	top: 4px;
    left: 4px;
    width: 11px;
    height: 11px;
	border-radius: 50%;
	background: var(--radio-color);
	animation: 0.1s --pop-in ease-in;
}

.three-col {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
}

div label input {
	margin: 10px 0;
}

details {
	background-color: var(--transparent-blue);
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
}

summary {
	padding: 5px 0;
}

summary > img {
	padding: 0 7px;
	margin-bottom: -1px;
}

input::file-selector-button {
  font-weight: bold;
  background-color: var(--btn);
  color: var(--white);
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  font-weight: 100;
}

fieldset:has([value="overledene-getrouwd-nee"]:checked) + .b,
fieldset:has([value="overledene-getrouwd-nee"]:checked) ~ .c,
fieldset:has([value="overledene-getrouwd-nee"]:checked) ~ .d,
fieldset:has([value="notariële-akte-nee"]:checked) ~ .c,
fieldset:has([value="notariële-akte-nee"]:checked) ~ .d,
fieldset:has([value="kinderen-nee"]:checked) ~ .e,
fieldset:has([value="kinderen-nee"]:checked) ~ .f,
fieldset:has([value="kinderen-overleden-nee"]:checked) ~ .f,
fieldset:has([value="overledene-testament-nee"]:checked) ~ .g
{
  display: none;
}

#show-bsn-input,
#show-beconnummer-input, 
#show-protonummer-input {
  display: none;
}

body:has([value="gemachtigde-bsn"]:checked) #show-bsn-input,
body:has([value="gemachtigde-beconnummer"]:checked) #show-beconnummer-input,
body:has([value="gemachtigde-protonummer"]:checked) #show-protonummer-input {
  display: block;
}

mark {
	background-color: transparent;
	color: var(--radio-color);
}

.card {
	background-color: #05a88737;
	margin-top: 100px;
	padding: 60px;
	line-height: 40px;
}

.error {
	color: red;
	margin-top: 5px;
}

.alert {
	z-index: 10;
	position: relative;
	width: 40px;
	height: 40px;
	top: 0;
}

.for-later {
	background-color: var(--white);
	color: var(--btn);
	outline: 2px var(--btn) solid;
	padding: 15px !important;
	border-radius: 5px;
	width: 148px;
	font-size: 16px;
	align-items: center;
	input {
		display: none;
	}
}

.pas-aan {
	background-color: var(--white);
	color: var(--btn);
	outline: 2px var(--btn) solid;
	padding: 15px !important;
	border-radius: 5px;
	width: 200px;
	font-size: 16px;
	align-items: center;
	input {
		display: none;
	}
}
body:has([value="sla-op"]:checked) mark::after {
  content: "Uw antwoorden zijn opgeslagen!";
  background-color: #05a88737;
  padding: 10px;
  border-radius: 5px;
}

.change-answers {
	display: none;
}

body:has([value="show-input-to-fix"]:checked) .change-answers {
  display: block;
}

@keyframes --pop-in {
	0% {
		scale: 0.5;
	}
	100% {
		scale: 1;
	}
}

@media (min-width: 640px) {
	h1 {
		line-height: 300%;
	}

	body {
		line-height: 145%;
	}

	form {
		width: 600px;
		padding: 0 25px;
	}
}

@media (min-width: 1000px) {
	form {
		width: 680px;
		padding: 0 25px;
	}

	fieldset > fieldset {
		width: 100%;
	}

	ol {
		width: 600px;
	}
}
